/*************************************************
    GENERAL STYLES
 *************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #b8c1ec;
    background: #232946;
}

h1,
h2,
h3 {
    color: #eebbc3;
}

h1 {
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

h2 {
    margin-bottom: 2.5rem;
    font-size: 2rem;
    color: #fffffe;
}

h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
}

.col {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* TEXT */
.text-center {
    text-align: center;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.site-header {
    margin-top: 3rem;
}

/* LESSONS SECTION */
.lessons .col {
    width: 50%;
}

.lessons .col img {
    height: 200px;
    margin-bottom: 1rem;
}

/* STEPS SECTION */
.steps {
    margin: 3rem 0;
    padding: 3rem 0;
    color: #232946;
    background: #eebbc3;
}

.steps h2,
.steps h3 {
    color: #232946;
}

.steps .col {
    width: calc(100% / 3);
}

.steps .col img {
    height: 200px;
    margin-bottom: 1rem;
}

/* WHY US SECTION */
.why-us {
    margin-bottom: 3rem;
}
.why-us .col-left {
    width: 40%;
}

.why-us .col-right {
    width: 60%;
}

.why-us li {
    list-style: none;
    margin-bottom: 2.5rem;
}

/************************************************
    SOLUZIONE RESPONSIVE
 ************************************************/

/* RESPONSIVE PER TABLET 768px */

 @media screen and (max-width: 768px){

    /* Soluzione col Max-width: Puoi essere grande fino
    a tot però puoi restringerti. In tal modo i
    contenuti seguiranno il restringimento */

    /* Qui imposto un max-width alle section visto che
    non posso sovrascrivere la proprietà width del 
    container */
    .lessons , .why-us , .steps{
        max-width: 1140px;
    }

    /* Infine sovrascrivo la width del container con il
    100% che fa riferimento alla dimensione del suo
    genitore che è la section */
    .container{
        width: 100%;
    }

  
}

/* RESPONSIVE PER SMARTPHONE 480px*/


@media screen and (max-width: 480px) {
    /* Per adattare la pagina web ad una risoluzione di 
    480px cambio la direction del display flex in modo da 
    incolonnare tutto */
    section .row{
        flex-direction:column;
    }

    /* Infine con la proprietà width: 100% aumento al
    massimo i contenuti dei blocchi cosi da ricoprire
    il 100% del contenitore */
    section .container .row > div{
        width: 100%;
        margin-bottom: 50px;
    }
    
}

@media screen and (max-width: 1160px) and (min-width: 769px){

    /* Semplicemente viene data una massima dimensione 
    al container che fa riferimento alla width del body */
    .container{
        width: 100%;
    }

}

